**NAME**- S.ROOPASHREE

**ROLL NO**-20191CSE0512

**CLASS**-5CSE09

**NASSCOM PROJECT**

I have created an model using  **Logistic regression** to detect if the credit card applicant is eligible to take credit card.

**Logistic regression**

Logistic regression is one of the most commonly used machine learning algorithms for binary classification problems, which are problems with two class values, including predictions such as “this or that,” “yes or no” and “A or B.”

**Credit card applications**
Commercial banks receive a lot of applications for credit cards.Many of them get rejected for many reasons like high loan balances,low income levels or too many inquiries on an individual credit report.Manually analyzing these applications is mudane and error-prone and time consuming. Luckily, this task can be automated with the power of machine learning.Therefore,here we are building an automatic credit card approval predictor using machine learning techniques.

In [ ]:
#import pandas
import pandas as pd

#import dataset
cc_apps = pd.read_csv("cc_approvals.data", header=None)


# Inspect data
cc_apps.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

**Inspecting the Applications**
The features of the dataset have been anonymized to protect the privacy.The probable features in a typical credit care application are gender,age,debt,Married,BankCustomer,EducationLevel, Ethnicity,YearsEmployed, PriorDefault, Employed, CreditScore, DriversLicense, Citizen, ZipCode, Income and finally the ApprovalStatus.We can map these features with respect to the columns in the output.

In [ ]:
# Print the statistics 
cc_apps_description=cc_apps.describe()
print(cc_apps_description)

print("\n")

#print DataFrame info
cc_apps_info=cc_apps.info()
print(cc_apps_info)

print("\n")

#Inspect mssing values in the dataset
cc_apps.tail(17)

               2           7          10             14
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB
None

    0      1       2  3  4   5   6      7  8  9   10 11 12     13   14 15
673  ?  29.50   2.000  y  p   e   h  2.000  f  f   0  f  g  00256   17  -
674  a  37.33   2.500  u  g   i   h  0.210  f  f   0  f  g  00260  246  -
675  a  41.58   1.040  u  g  aa   v  0.665  f  f   0  f  g  00240  237  -
676  a  30.58  10.665  u  g   q   h  0.085  f  t  12  t  g  00129    3  -
677  b  19.42   7.250  u  g   m   v  0.040  f  t   1  f  g  00100    1  -
678  a  17.92  10.210  u  g  ff  ff  0.000  f  f   0  f  g  00000   50  -
679  a  20.08   1.250  u  g   c   v  0.000  f  f   0  f  g  00000    0  -
680  b  19.50   0.290  u  g   k   v  0.290  f  f   0  f  g  00280  364  -
681  b  27.83   1.000  y  p   d   h  3.000  f  f   0  f  g  00176  537  -
682  b  17.08   3.290  u  g   i   v  0.335  f  f   0  t  g  00140    2  -
683  b  36.42   0.750  y  p   d   v  0.585  f  f   0  f  g  00240    3  -
684  b  40.58   3.290  u  g   m   v  3.500  f  f   0  t  s  00400    0  -
685  b  21.08  10.085  y  p   e   h  1.250  f  f   0  f  g  00260    0  -
686  a  22.67   0.750  u  g   c   v  2.000  f  t   2  t  g  00200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.000  f  t   1  t  g  00200    1  -
688  b  17.92   0.205  u  g  aa   v  0.040  f  f   0  f  g  00280  750  -
689  b  35.00   3.375  u  g   c   h  8.290  f  f   0  t  g  00000    0  -

**Handling the missing values**- In the above dataset they were miissing values which may yeild in accurate details.So in order to fill those missing values we first convert the missing values to NaN

In [ ]:
#import numpy
import numpy as np
 
#inspect missing values in the dataset
print(cc_apps.tail(17))

#replace the '?' with NaN
cc_apps= cc_apps.replace('?',np.nan)

#inspect the missing values again
cc_apps.tail(17)

    0      1       2  3  4   5   6      7  8  9   10 11 12     13   14 15
673  ?  29.50   2.000  y  p   e   h  2.000  f  f   0  f  g  00256   17  -
674  a  37.33   2.500  u  g   i   h  0.210  f  f   0  f  g  00260  246  -
675  a  41.58   1.040  u  g  aa   v  0.665  f  f   0  f  g  00240  237  -
676  a  30.58  10.665  u  g   q   h  0.085  f  t  12  t  g  00129    3  -
677  b  19.42   7.250  u  g   m   v  0.040  f  t   1  f  g  00100    1  -
678  a  17.92  10.210  u  g  ff  ff  0.000  f  f   0  f  g  00000   50  -
679  a  20.08   1.250  u  g   c   v  0.000  f  f   0  f  g  00000    0  -
680  b  19.50   0.290  u  g   k   v  0.290  f  f   0  f  g  00280  364  -
681  b  27.83   1.000  y  p   d   h  3.000  f  f   0  f  g  00176  537  -
682  b  17.08   3.290  u  g   i   v  0.335  f  f   0  t  g  00140    2  -
683  b  36.42   0.750  y  p   d   v  0.585  f  f   0  f  g  00240    3  -
684  b  40.58   3.290  u  g   m   v  3.500  f  f   0  t  s  00400    0  -
685  b  21.08  10.085  y  p   e   h  1.250  f  f   0  f  g  00260    0  -
686  a  22.67   0.750  u  g   c   v  2.000  f  t   2  t  g  00200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.000  f  t   1  t  g  00200    1  -
688  b  17.92   0.205  u  g  aa   v  0.040  f  f   0  f  g  00280  750  -
689  b  35.00   3.375  u  g   c   h  8.290  f  f   0  t  g  00000    0  -

      0      1       2  3  4   5   6      7  8  9   10 11 12     13   14 15
673  NaN  29.50   2.000  y  p   e   h  2.000  f  f   0  f  g  00256   17  -
674    a  37.33   2.500  u  g   i   h  0.210  f  f   0  f  g  00260  246  -
675    a  41.58   1.040  u  g  aa   v  0.665  f  f   0  f  g  00240  237  -
676    a  30.58  10.665  u  g   q   h  0.085  f  t  12  t  g  00129    3  -
677    b  19.42   7.250  u  g   m   v  0.040  f  t   1  f  g  00100    1  -
678    a  17.92  10.210  u  g  ff  ff  0.000  f  f   0  f  g  00000   50  -
679    a  20.08   1.250  u  g   c   v  0.000  f  f   0  f  g  00000    0  -
680    b  19.50   0.290  u  g   k   v  0.290  f  f   0  f  g  00280  364  -
681    b  27.83   1.000  y  p   d   h  3.000  f  f   0  f  g  00176  537  -
682    b  17.08   3.290  u  g   i   v  0.335  f  f   0  t  g  00140    2  -
683    b  36.42   0.750  y  p   d   v  0.585  f  f   0  f  g  00240    3  -
684    b  40.58   3.290  u  g   m   v  3.500  f  f   0  t  s  00400    0  -
685    b  21.08  10.085  y  p   e   h  1.250  f  f   0  f  g  00260    0  -
686    a  22.67   0.750  u  g   c   v  2.000  f  t   2  t  g  00200  394  -
687    a  25.25  13.500  y  p  ff  ff  2.000  f  t   1  t  g  00200    1  -
688    b  17.92   0.205  u  g  aa   v  0.040  f  f   0  f  g  00280  750  -
689    b  35.00   3.375  u  g   c   h  8.290  f  f   0  t  g  00000    0  -

So, now on converting all the missing values to NaN.By using the technique of mean imputation we will find those missing values.

In [ ]:
#impute the missing values with the mean imputation 
cc_apps.fillna(cc_apps.mean(),inplace=True)

#Count the number of NaNs in the dataset and print the counts to verify
print(cc_apps.isnull().sum())

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

Now all the missing values have been handled and it shows that no more missing values are present in dataset.But the non-numeric data yet has some missing values to fill those by using the technique by filling with the most frequent values as present in the respective columns

In [ ]:
#iterates over each column of cc_apps
for col in cc_apps.columns:
 
  #Checks if the column is of object type 
  if cc_apps[col].dtypes =='object':
    #impute with the most frequent value
    cc_apps=cc_apps.fillna(cc_apps[col].value_counts().index[0])

#count the number of NaNs in the dataset and print the counts to verify 
print(cc_apps.isnull().sum())

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

**Preprocessing the Data**
We need to split the data into train and test data and scale the values to uniform range.

Using the label encoding we are converting non-numeric features to numeric features using **label encoding**.

In [ ]:
#import LabelEncoder
from sklearn.preprocessing import LabelEncoder

#Instantiate LabelEncoder
le=LabelEncoder()

#Iterate over all the values of each column and extract their dtypes
for col in cc_apps.columns.to_numpy():
  #compare if dtype is object
  if cc_apps[col].dtypes=='object':
  #Use LabelEncoder to do the numeric transformation
    cc_apps[col]=le.fit_transform(cc_apps[col])

In [ ]:
print(cc_apps.info())

print("\n")

print(cc_apps.tail(17))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    int64
 1   1       690 non-null    int64
 2   2       690 non-null    float64
 3   3       690 non-null    int64
 4   4       690 non-null    int64
 5   5       690 non-null    int64
 6   6       690 non-null    int64
 7   7       690 non-null    float64
 8   8       690 non-null    int64
 9   9       690 non-null    int64
 10  10      690 non-null    int64
 11  11      690 non-null    int64
 12  12      690 non-null    int64
 13  13      690 non-null    int64
 14  14      690 non-null    int64
 15  15      690 non-null    int64
dtypes: float64(2), int64(14)
memory usage: 86.4 KB
None


     0    1       2   3   4   5   6      7   8   9   10  11  12   13   14  15
673   1  140   2.000   3   3   5   4  2.000   0   0   0   0   0   89   17   1
674   0  214   2.500   2   1   7   4  0.210   0   0   0   0   0   90  246   1
675   0  248   1.040   2   1   0   8  0.665   0   0   0   0   0   84  237   1
676   0  153  10.665   2   1  11   4  0.085   0   1  12   1   0   40    3   1
677   1   36   7.250   2   1  10   8  0.040   0   1   1   0   0   31    1   1
678   0   20  10.210   2   1   6   3  0.000   0   0   0   0   0    0   50   1
679   0   42   1.250   2   1   2   8  0.000   0   0   0   0   0    0    0   1
680   1   37   0.290   2   1   9   8  0.290   0   0   0   0   0   96  364   1
681   1  125   1.000   3   3   4   4  3.000   0   0   0   0   0   60  537   1
682   1   12   3.290   2   1   7   8  0.335   0   0   0   1   0   44    2   1
683   1  208   0.750   3   3   4   8  0.585   0   0   0   0   0   84    3   1
684   1  240   3.290   2   1  10   8  3.500   0   0   0   1   2  129    0   1
685   1   52  10.085   3   3   5   4  1.250   0   0   0   0   0   90    0   1
686   0   71   0.750   2   1   2   8  2.000   0   1   2   1   0   67  394   1
687   0   97  13.500   3   3   6   3  2.000   0   1   1   1   0   67    1   1
688   1   20   0.205   2   1   0   8  0.040   0   0   0   0   0   96  750   1
689   1  197   3.375   2   1   2   4  8.290   0   0   0   1   0    0    0   1

**Splitting of datasets**

Splitting of data into two diffrent phases of machine learning train and test.Test data is only used for validating it and not used for training.

In [19]:
# Import train_test_split
from sklearn.model_selection import train_test_split 

#  convert the DataFrame to a NumPy array
cc_apps = cc_apps.to_numpy()

# Segregate features and labels into separate variables
X= cc_apps[:,13]  
y=cc_apps[:,13]


# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X
                                                    ,
                                                    y,
                                                    test_size=0.33,
                                                    random_state=42)

**Preprocessing the Data**-Once we split the data into train and test.We have to scale the data before we fit a machine learning model to the data.

Like now we have a column called creditscore using this feature we can say the creditworthiness based on their credit history.More the creditscore shows he is more financially strong.Here the highest score is 1 since we are scaling the values in the range of [0-1].

In [ ]:
# Import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

# Instantiate MinMaxScaler and use it to rescale X_train and X_test
scaler = MinMaxScaler(feature_range=(0, 1))
rescaledX_train = scaler.fit_transform(X_train)
rescaledX_test = scaler.transform(X_test)

To achieve this model we use **Logistic regression**(a genearlized linear model) model to the train set.

Our main goal is to say if the credit card is approved or not for this we use **classification** task.

In [ ]:
# Import LogisticRegression
from sklearn.linear_model import LogisticRegression

# Instantiate a LogisticRegression classifier with default parameter values
logreg = LogisticRegression()

# Fit logreg to the train set
logreg.fit(rescaledX_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

**Making predictions and evaluating performance**-We will have to evaluate the model on the test set with respect to **classification accuracy and confusion matrix**.

Its important to verify if the model is able to predict the approval status of the applications as denied that was originally that got denied.

Therfore,the confusion matrix helps us to view the model's performance from these aspects.

In [ ]:
# Import confusion_matrix
from sklearn.metrics import confusion_matrix

# Use logreg to predict instances from the test set and store it
y_pred = logreg.predict(rescaledX_test)

# Get the accuracy score of logreg model and print it
print("Accuracy of logistic regression classifier: ", logreg.score(rescaledX_test,y_test))

# Print the confusion matrix of the logreg model
confusion_matrix(y_test,y_pred)

Accuracy of logistic regression classifier:  0.8421052631578947

array([[94,  9],
       [27, 98]])

**Grid searching and making the model perform better-**

The accuracy of model is 84%.To improve its performance we use grid search.

In [ ]:
# Import GridSearchCV
from sklearn.model_selection import GridSearchCV

# Define the grid of values for tol and max_iter
tol = [0.01, 0.001 ,0.0001]
max_iter = [100, 150, 200]

# Create a dictionary where tol and max_iter are keys and the lists of their values are the corresponding values
param_grid = dict(tol=tol, max_iter=max_iter)

**Finding the best performing model-**

We are defining the grid of hyperparameter values and converted them to a single dictionary format GridSearchCV()

We instantiate GridSearchCV() with our earlier logreg model with all the data we have. Instead of passing train and test sets separately, we will supply X (scaled version) and y. We will also instruct GridSearchCV() to perform a cross-validation of five folds.

In [ ]:
# Instantiate GridSearchCV with the required parameters
grid_model = GridSearchCV(estimator=logreg, param_grid=param_grid, cv=5)

# Use scaler to rescale X and assign it to rescaledX
rescaledX = scaler.fit_transform(X)

# Fit grid_model to the data
grid_model_result = grid_model.fit(rescaledX, y)

# Summarize results
best_score, best_params = grid_model_result.best_score_, grid_model_result.best_params_
print("Best: %f using %s" % (best_score, best_params))

Best: 0.850725 using {'max_iter': 100, 'tol': 0.01}

In [ ]:
y_pred

array([1., 0., 1., 1., 1., 0., 1., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1.,
       1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1., 0., 1., 1.,
       0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0.,
       0., 1., 1., 0., 1., 0., 1., 1., 1., 0., 0., 1., 0., 0., 1., 1., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1.,
       0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1.,
       0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 1., 1., 1., 1.,
       0., 1., 0., 0., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 0.,
       1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0.,
       0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 1., 0., 0., 1., 1., 0., 1., 0., 0., 1., 1., 0., 1., 1., 1., 0.,
       0., 0., 1., 0., 1., 1., 1.])